.toc {
    padding: 10px;
    margin: 15px;
    border: solid 1px $grey-color-light;
    border-radius: 5px;
}
.site-nav .active, .site-footer .active {
    text-decoration: underline;
    color: $active-color;
}

.site-logo {
    height: 30px;
    padding-top: 15px;
    padding-left: 9px;
}

.trigger {
    width: max-content;
}